<!-- footer -->

	<footer>
		<div class="s5" id="contact" style="">
			<div class="contact-content">
				<div class="container">
					<div class="row">
						<div class="contact-list col-md-6" style="">
							<div class="left-tittle" style="">
								<h1>联系我们<span> / CONTACT   US</span></h1><hr>
							</div>
							<p>营业时间为星期一至星期六早上9点到下午6点，您的反馈是我们不但改善的动力。</p>
							<ul>
								<li><i class="iconfont">&#xe60e;</i>总部地址：广州市海珠区昌岗中路166号富盈国际大厦1218室</li>
								<li><i class="iconfont">&#xe67f;</i>联系电话：400-838-8198</li>
								<li><i class="iconfont">&#xe64a;</i>传真：020-89577250</li>
								<li><i class="iconfont">&#xe660;</i>EMAIL：ｇz@welshine.com</li>
							</ul>
						</div>
						<div class="contact-email col-md-6" style="">
							<form action="#" method="post">
								<div class="col-md-6">
									<input type="text" name="name" id="name" placeholder="姓名" onfocus="this.placeholder=''" onblur="this.placeholder='姓名'"/>
								</div>
								<div class="col-md-6">
									<input type="email" name="eamil" id="email" placeholder="联系邮箱" onfocus="this.placeholder=''" onblur="this.placeholder='联系邮箱'"/>
								</div>
								<div class="col-md-12">
									<input type="text" name="tel" id="tel" placeholder="联系电话" onfocus="this.placeholder=''" onblur="this.placeholder='联系电话'"/>
								</div>
								<div class="col-md-12">
									<input type="text" name="message" id="message" placeholder="不少于15个字"/>
								</div>
								<div class="col-md-8">
									<a href="mailto:1105813323@qq.com">确认发送</a>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="public-footer">
			<p>建议使用IE4.0以上版本<br />COPYRIGHT © 2004 <a>www.welshine.com</a> Corporation. All rights reserved.<a>版权所有</a> 严禁拷贝<br />
Powered by <a>快扬网</a><br /><a>粤ICP备11003101号</a></p>
		</div>
	</footer>	 

	</body>
</html>
