<!DOCTYPE html>
<html>
<head>
<title>{if isset($SEO['title']) && !empty($SEO['title'])}{$SEO['title']}{/if}{$SEO['site_title']}</title>
<meta name="keywords" content="{$SEO['keyword']}">
<meta name="description" content="{$SEO['description']}">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta charset="UTF-8"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}css/pgwslideshow.css">
<link rel="stylesheet" type="text/css" href="{CSS_PATH}css/bootstrap.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}css/welshine.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}css/iconfont.css"/>
<link rel="stylesheet" type="text/css" href="{CSS_PATH}css/slider.css"/>
<script src="{JS_PATH}js/jquery-2.1.1.min.js" type="text/javascript" charset="utf-8"></script>
<script src="{JS_PATH}js/bootstrap.js" type="text/javascript" charset="utf-8"></script>
<script src="{JS_PATH}js/common.js" type="text/javascript" charset="utf-8"></script>
<script src="{JS_PATH}js/increase.js" type="text/javascript" charset="utf-8"></script>  <!-- 数字递增 -->
<script src="{JS_PATH}js/jquery.smint.js" type="text/javascript" charset="utf-8"></script>  <!-- 粘性导航 -->
<script src="{JS_PATH}js/scroll.js" type="text/javascript" charset="utf-8"></script>
<script src="{JS_PATH}js/iconfont.js" type="text/javascript" charset="utf-8"></script>
<script type="text/javascript">
$(document).ready( function() {
    $('.menu').smint({
    	'scrollSpeed' : 1000
    });
});
</script>
</head>
<body> 
	
<!-- 主页背景 -->
	<div class="index-bg"></div>
<!-- 主页背景 -->	

	<div class="alert" id="alert">
		<div class="alert-content" id="alert-content">
			<div id="close-btn"><i class="iconfont">&#xe6bb;</i></div>
			<div class="alert-box">
				<div class="alert-col">
					<div class="alert_big_img">
						<img src="{IMG_PATH}img/index/2016-09-10-0177.jpg"/>
					</div>
				</div>
				<div class="alert-col p_l">
					<div class="alert_text">
						<h2>服务车【周转用品】</h2>
						<div class="alert_description">
							<ul>
								<li>
									<p>
										<strong>适用场景1</strong><br />
										文案文案文案文案文案文案文案文案文案文文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
										文案文案文案文案文案文案文案文案案文案文案文案文案文案文案文案文案文案文案文案文案文案文案
									</p>
								</li>
							</ul>
							<div class="url-btn">
								<a href="">了解详情</a>
							</div>
						</div>
						<div class="alert_small_img">
							<div class="gallery1">
								<ul>
									<li>
										<a href="#">
											<img src="{IMG_PATH}img/index/2016-09-10-0177.jpg"" alt="" />
										</a>
									</li>
									<li>
										<a href="#">
											<img src="{IMG_PATH}img/index/2016-09-10-0177.jpg"" alt="" />
										</a>
									</li>
									<li>
										<a href="#">
											<img src="{IMG_PATH}img/index/2016-09-10-0177.jpg"" alt="" />
										</a>
									</li>
									<li>
										<a href="#">
											<img src="{IMG_PATH}img/index/2016-09-10-0177.jpg"" alt="" />
										</a>
									</li>
									<li>
										<a href="#">
											<img src="{IMG_PATH}img/index/2016-09-10-0177.jpg"" alt="" />
										</a>
									</li>
									<li>
										<a href="#">
											<img src="{IMG_PATH}img/index/2016-09-10-0177.jpg"" alt="" />
										</a>
									</li>
								</ul>
							</div>
							<a href="#" class="prev"></a>
							<a href="#" class="next"></a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

<!--//右侧悬浮窗口-->

	<div class="float-box clearfix">
		<ul class="float-menu">
	    <li class="float-QQ">
    		<i class="iconfont">&#xe68e;</i>
    		<div class="QQ-hover">
					<ul>
						<li class="QQ-service">
							<h3>惠而信营销总部</h3>
						</li>
						<li class="QQ-service">
							<strong>在线咨询</strong>
	    				<ul class="service-content">
	    					<li class="group">
	    						<span class="group-name">售后客服:</span>
	    						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1105813323&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1105813323:51" alt="点击联系我" title="点击联系我"/></a>
	    					</li>
	    					<li class="group">
	    						<span class="group-name">售前客服:</span>
	    						<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=1105813323&site=qq&menu=yes"><img border="0" src="http://wpa.qq.com/pa?p=2:1105813323:51" alt="点击联系我" title="点击联系我"/></a>
	    					</li>
	    				</ul>
						</li>
	    			<li class="QQ-service">
	    				<strong>工作时间</strong>
	    				<ul>
	    					<li><span class="group-name">周一至周六</span>:<span>09:00-18:00</span></li>
	    				</ul>
	    			</li>
	    			<li class="QQ-service">
	    				<strong>联系方式</strong>
	    				<ul>
	    					<li><span>电话联系：400-838-8198</span></li>
	    					<li><span>传真：020-89577250</span></li>
	    				</ul>
	    			</li>
					</ul>
					<div class="triangle-right" style="top: 8%;"></div>
    		</div>
	    </li>
	    <li class="float-code" style="height:53px;">
   			<i class="iconfont">&#xe608;</i>
   			<div class="code-hover hd_qr">
					<img src="{IMG_PATH}img/index/code.png" width="50px" alt="关注你附近">
	    		<h2>微信二维码</h2>
	    		<div class="triangle-right" style="top: 36%;"></div>
	    	</div>
	    </li>
	    <li class="float-top">
   			<i class="iconfont">&#xe63a;</i>
	   	</li>
		</ul>
	</div> 
	
<!-- bar -->

	<div class="bar sTop">
		<div class="container">
			<div class="row">
				<div class="col-md-8">
					<li class="col-md-2"><a href="">全国<span>[切换城市]</span></a></li>
					<li class="col-md-2"><a href="">微信公众号</a></li>
					<li class="col-md-3" style="margin-left: -1.25em;"><a href="">京东/阿里巴巴商城</a></li>
					<li class="col-md-4" style="margin-left: -2em;"><a href="">广州市仟益贸易有限公司</a></li>
				</div>
				<div class="col-md-3 col-md-offset-1">
					<li class="col-md-6"><a href="">经销商</a>/<a>终端</a></li>
					<li class="col-md-6">请<a href="Admin/login.php" class="orange">登录</a>/<a class="orange">注册</a></li>
				</div>
			</div>
		</div>
	</div>

<!-- 品牌LOGO -->

	<nav class="navbar navbar-default logo">
	  	<div class="container">
	    	<div class="row"> 
	    		<div class="navbar-brand">
	    			<a href="#">
		        		<img src="{IMG_PATH}img/index/logo.png" alt="Brand" height="100%"/>
		      		</a>
	    		</div>
	      		<div class="navbar-text">
					<span class="navbar-title">信诚待客，共同发展</span><br>
					<span class="navbar-eng">Sincere hospitality, common development</span>
				</div>
				<div class="navbar-tel">
					<i class="iconfont icon-dianhua"></i>
					<div class="right-text">
						<span>服务热线:</span>
						<p>400-838-8198</p>
					</div>
				</div>
				<div class="navbar-icon" >
					<i class="icon-caidanlanmuicon iconfont"></i>
				</div> 
	    	</div>
	  </div>
	</nav>

<!-- 粘性菜单 -->

	<div class="menu">
		<div class="container clearfix">
			<div class="row">
				<div class="subMenu col-md-8 clearfix">
				{pc:content action="category" catid="2" num="6" siteid="$siteid" order="listorder ASC"}
					{loop $data $r}
				 	<a href="{$r[url]}" class="subNavBtn col-sm-2" style="transition-delay: 0.2s;">{$r[catname]}</a>
				 	{/loop}
        {/pc}
				</div>
				<div class="search-box col-md-4">
					<form action="{APP_PATH}index.php" method="get" target="_blank">
						<input type="hidden" name="m" value="search"/>
					    <input type="hidden" name="c" value="index"/>
					    <input type="hidden" name="a" value="init"/>
					    <input type="hidden" name="typeid" value="{$typeid}" id="typeid"/>
					    <input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
					    <input type="text" class="text" name="q" id="q"/><input type="submit" value="搜 索" class="button" />
						<!--<input type="submit" name="keywords" id="keywords" value="{$keywords}" class="col-md-3"/>
						<input type="text" name="" id="" value="" class="col-md-8" placeholder="输入想要的产品" onfocus="this.placeholder=''" onblur="this.placeholder='输入想要的产品'"/>-->
					</form>
				</div>
				
				<!--<div class="bd">
				  <form action="{APP_PATH}index.php" method="get" target="_blank">
				    <input type="hidden" name="m" value="search"/>
				    <input type="hidden" name="c" value="index"/>
				    <input type="hidden" name="a" value="init"/>
				    <input type="hidden" name="typeid" value="{$typeid}" id="typeid"/>
				    <input type="hidden" name="siteid" value="{$siteid}" id="siteid"/>
				    <input type="text" class="text" name="q" id="q"/><input type="submit" value="搜 索" class="button" />
				  </form>
				</div>-->


			</div>
		</div>
	</div>
		
	
